.h6 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.card-title {
  font-family: "Lucida Console", "Courier New", monospace;
}

.card-body {
  font-family: "Lucida Console", "Courier New", monospace;
}